<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-3" *ngFor="let items of tutorial; let i = index">
            <!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="http://res.cloudinary.com/luciest/{{ items.image }}" alt="Card image cap">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
  
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title">{{ items.title }}</h4>
      <hr>
      <!-- Text -->
      <p class="card-text">{{ items.description }}</p>
  
    </div>
  
    <!-- Card footer -->
    <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
      <ul class="list-unstyled list-inline font-small">
        <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>{{ items.created_on| date :  "dd.MM.y" }}</li>
       
        <li class="list-inline-item"><a href="#" class="white-text"><i class="fab fa-twitter pr-1"> </i>Toggle</a></li>
      </ul>
    </div>
  
  </div>
  <!-- Card -->
        </div>
    </div>
</div>